<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/LayoutManage :: head"></head>

<body>
	<nav th:replace="admin/LayoutManage :: header"></nav>
	<div class="container-fluid">
		<div class="row">


			<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<nav  th:replace="admin/LayoutManage :: slidebar">
				</nav>
				<!--       			<th:block th:if="${#lists.isEmpty(produsts)}">
      	            <h5>No Products</h5>
      	        </th:block> -->

				<!--       	        <th:block th:unless="${#lists.isEmpty(produsts)}"> -->
				<div class="table-responsive">

					<nav class="navbar">
						<h5>List of categories</h5>
						<form class="form-inline">
							<input id="searchTxt" class="form-control mr-sm-2" type="search"
								placeholder="Search" aria-label="Search">
							<button id="clsBtn" class="btn btn-outline-success my-2 my-sm-0"
								type="button">Clear</button>
						</form>
						<a th:href = "@{/admin/categories/addcategory/}" 
							type="submit"><button class="btn btn-danger my-2 my-sm-0">New Category</button></a>
					</nav>
					<table class="table table-bordered table-hover" id="tbData">
						<thead>
							<tr>
								<th>ID</th>
								<th>Image</th>
								<th>Title</th>
								<th>Description</th>
								<th>Additional</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="category, iterStat : ${categories}">
								<th scope="row" th:text="${iterStat.count}"></th>
								<td style="width:10rem;">
									<img class="w-100" th:src="${category.img}">
								</td>
								<td th:text="${category.title}"></td>
								<td th:text="${category.description}"></td>
								<td>
								<!-- <a th:href="@{/admin/categories/editcategory/{id}(id=${category.id})}" class="mr-sm-2 text-primary"><i
										class="fa fa-pencil"></i></a> <a th:href="@{/admin/category/delete/{id}(id=${category.id})}" class="text-danger"><i
										class="fa fa-trash"></i></a> -->
										
									<th:block th:if="${category.status == 'activated'}">
										<a th:href="@{/admin/categories/editcategory/{id}(id=${category.id})}" class="mr-sm-2 text-primary"><i
											class="fa fa-pencil"></i></a>
										<a th:href="@{/admin/category/unactivated/{id}(id=${category.id})}" class="text-danger"><i
											class="fa fa-trash"></i></a>
									</th:block>
									<th:block th:if="${category.status == 'unactivated'}">
										<a style="font-size:x-large;" th:href="@{/admin/category/activated/{id}(id=${category.id})}" class="text-success"><i class="fa fa-play"></i></a>
									</th:block>	
										
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--       	        </th:block> -->
			</main>
		</div>
	</div>

	<footer th:replace="admin/LayoutManage :: footer"></footer>
	<script th:src="@{/js/manage_categories.js}"></script>
</body>
</html>