<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/LayoutManage :: head"></head>

<body>
	<nav th:replace="admin/LayoutManage :: header"></nav>
	<div class="container-fluid">
		<div class="row">


			<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<nav th:replace="admin/LayoutManage :: slidebar"></nav>
				<!--       			<th:block th:if="${#lists.isEmpty(produsts)}">
      	            <h5>No Products</h5>
      	        </th:block> -->

				<!--       	        <th:block th:unless="${#lists.isEmpty(produsts)}"> -->
				<div class="table-responsive">

					<nav class="navbar">
						<h5>List of authors</h5>
						<form class="form-inline">
							<input id="searchTxt" class="form-control mr-sm-2" type="search"
								placeholder="Search" aria-label="Search">
							<button id="clsBtn" class="btn btn-outline-success my-2 my-sm-0"
								type="button">Clear</button>
						</form>
						<a th:href="@{/admin/authors/addauthor/}" type="submit"><button
								class="btn btn-danger my-2 my-sm-0">New Author</button></a>
					</nav>
					<table class="table table-bordered table-hover" id="tbData">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Birth Day</th>
								<th>Description</th>
								<th>Additional</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="author, iterStat : ${authors}">
								<th class="align-middle" scope="row" th:text="${author.id}"></th>
								<td class="align-middle" th:text="${author.name}"></td>
								<td class="align-middle" th:text="${author.birthday}"></td>
								<td class="align-middle" th:text="${author.description}"></td>
								
								<td class="align-middle">
									<th:block th:if="${author.status == 'activated'}">
										<a th:href="@{/admin/authors/editauthor/{id}(id=${author.id})}" class="mr-sm-2 text-primary"><i
											class="fa fa-pencil"></i></a>
										<a th:href="@{/admin/author/unactivated/{id}(id=${author.id})}" class="text-danger"><i
											class="fa fa-trash"></i></a>
									</th:block>
									<th:block th:if="${author.status == 'unactivated'}">
										<a style="font-size:x-large;" th:href="@{/admin/author/activated/{id}(id=${author.id})}" class="text-success"><i class="fa fa-play"></i></a>
									</th:block>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>

	<footer th:replace="admin/LayoutManage :: footer"></footer>
	<script th:src="@{/js/manage_authors.js}"></script>
</body>
</html>