ul.dropdown-cart {
	min-width: 250px;
}

ul.dropdown-cart li .item {
	display: block;
	padding: 3px 10px;
	margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
	background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

ul.dropdown-cart li .item-left {
	float: left;
}

ul.dropdown-cart li .item-left img, ul.dropdown-cart li .item-left span.item-info
	{
	float: left;
}

ul.dropdown-cart li .item-left span.item-info {
	margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
	display: block;
}

ul.dropdown-cart li .item-right {
	float: right;
}

ul.dropdown-cart li .item-right button {
	margin-top: 14px;
}

.product {
	height: 100%;
}

.nameBook {
	font: "Roboto";
	font-size: 14px;
}

.imgPro {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.chuchay1 {
	background-color: #333333;
	color: #FFF;
	text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	border-radius: 0px;
}